* {
    margin: 0;
    padding: 0;
    font-family: "Century", sans-serif;
    font-size: 18px;
}
body{
    background-color:rgb(221, 228, 229);
}
body {
    margin: 0 auto;
    width: 50%;
    max-width: 760px;
    padding: 10px;
}
label{
    margin-top:15px;
    margin-right: 10px;
}

.d-flex .form-group {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.d-flex .form-group  label{
    display: flex;
    align-items: center;
}
.form-group {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}


input, select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border:0;
}
input[type=text]{
    border-radius: 10px;
    border:0;
}
input[type=password]{
    border-radius: 10px;
    border:0;
}
input[type=radio] {
    width: 25px;
    height: 25px;
    border:0;
}
input[type=checkbox] {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 10px;
}

input:focus, select:focus {
    background-color: lightblue;
}

button[type=submit] {
    background-color: rgb(83, 192, 159);
    margin-top: 10px;
    padding: 10px 5px;
    border-radius: 10px;
    border:0;
    width: 100%;
}
.email-erorr{
    color:rgb(51, 202, 144);
    font-size: 14px;
    display: block;
    display: none;
}
.form-error {
    color:rgb(51, 196, 128);
    font-size: 14px;
    display: block;
    display: none;
}
